<%- include('../partials/header') %>


<br><br>
 <div class="d-flex justify-content-center">
     
<h1>Review a Match</h1>
 </div>
    <br>
    <div class="d-flex justify-content-center">
<p>Find your match by name. If they have an active account and you meet eligibility requirements, you may leave a review!
</p>

</div>
</div>


<br>


<div class="d-flex justify-content-center">
<form id="new-form" style="max-width: 400px; content: justify-content-center" action="/matches" method="POST">
  <label>Match's Name:</label>
  <input type="text" name="matchName" id="form12" class="form-control" />
  <br />
  <label>Approximately how long have you been matched?</label>
  <input type="text" name="matchedDate" id="form12" class="form-control" />
  <br />
  <label>How did your date go?</label>
  <input type="text" name="reviews" id="form12" class="form-control" />
  <br />
  <label>Currently Matched?</label>
  <input type="checkbox" name="currentlyMatched" checked />
  <br />
  <br />
  <input
    type="submit"
    value="Find Match"
    id="form12"
    class="form-control"
    style="width: 200px; height: auto; background-color: rosybrown"
  />
</form>
</div>

<br><br>

<%- include('../partials/footer') %>
