<%- include('../partials/header') %>

<h5> this page is for a user creating ("searching for") a new match profile </h5>

<form id="new-form" action="/matches" method="POST">

    <label>Match's Name:</label>
    <input type="text" name="matchName" id="form12" class="form-control">

    <label>Approximately when were you originally matched?</label>
    <input type="date" name="matchedDate" id="form12" class="form-control">

    <label>Write your review:</label>
    <input type="text" name="reviews" id="form12" class="form-control">

<label>Currently Matched</label>
<input type="checkbox" name="currentlyMatched" checked>

<input type="submit" value="Search" id="form12" class="form-control">
</form>


<%- include('../partials/footer') %>
