<%- include('../partials/header') %>

<h5> this page is for a user creating ("searching for") a new match profile </h5>

<form id="new-form" action="/matches" method="POST">
    <label>Match's Name:</label>
    <input type="text" name="matchName">
    <label>Approximately when were you originally matched?</label>
    <input type="date" name="matchedDate">
    <label>Write your review:</label>
    <input type="text" name="reviews">
<label>Currently Matched</label>
<input type="checkbox" name="currentlyMatched" checked>
<input type="submit" value="Search">
</form>


<%- include('../partials/footer') %>
