    <%- include('../partials/header') %>
    <h1>Hello World - Rate Your Date (SHOW)</h1>
  <h5>this page shows the details of ONE of the user's matches 
    and has a form where you can send a message to that match</h5> 
    
   


    <%- include('../partials/footer') %>